@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* Responsive */

/* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

:root {
  --primary-bg-color: #faedeb;
  --primary: #000000;
  --secondary: #fff;
  --sub-heading-color: rgba(0, 0, 0, 0.6);
  --primary-font-size: 5.2rem;
  --secondary-font-size: 3.2rem;
  --tertiary-font-size: 2rem;
  /* --sub-heading-font-size: 1.6rem; */
  --xsmall-font-size: 1.2rem;
  --default-font-size: 1.4rem;
  --small-font-size: 1.6rem;
  --medium-font-size: 1.8rem;
  --large-font-size: 2.4rem;
  --success: rgb(14, 187, 80);
  --mtb-small: 1.6rem 0 1.2rem 0;
  --mtb-medium: 4rem 0;
  --prl-small: 0 1.8rem;
  --sk-color: rgb(162 151 151 / 28%);
  --box-shadow: (0 2.4rem 4.8rem rgba(0, 0, 0, 0.075));
  --border-color: rgb(0 0 0 / 5%);
  --success-text: #008000;
  --error-text: #b81c23;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--primary);
  text-transform: uppercase;
}

html {
  font-size: 62.5%;
  /* margin-right: calc(100% - 100vw); */
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--default-font-size);
  line-height: 1;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.5px;
  /* margin-right: calc(100vw - 100%); */
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* -----TYPOGRAPHY----- */

.heading-primary {
  font-size: var(--primary-font-size);
  line-height: 1.05;
  margin-bottom: 2.8rem;
  font-weight: 700;
  color: #000000;
  letter-spacing: -0.5px;
  font-weight: 600;
}

.secondary-heading {
  font-size: var(--secondary-font-size);
  margin-bottom: 4.8rem;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.tertiary-heading {
  font-size: var(--tertiary-font-size);
  font-weight: 600;
  letter-spacing: 0.6px;
}

.sub-heading {
  display: block;
  margin-bottom: 0.8rem;
  color: var(--sub-heading-color);
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 1px;
}

.sub-text {
  line-height: 1;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: var(--sub-heading-color);
}

p {
  line-height: 1.4;
  font-size: var(--default-font-size);
  letter-spacing: 0.2px;
  font-weight: 400;
}

.f-xs {
  font-size: var(--xsmall-font-size);
}
.f-s {
  font-size: var(--small-font-size) !important;
}
.f-m {
  font-size: var(--medium-font-size);
}
.f-l {
  font-size: var(--large-font-size);
}
.f-d {
  font-size: var(--default-font-size) !important;
}

.fw-500 {
  font-weight: 500;
}
.f-w-300 {
  font-weight: 300;
}
/* -----TYPOGRAPHY----- */

.btn {
  padding: 1rem 2.8rem;
  background-color: #000000;
  border: none;
  color: #fff;
  font-size: var(--medium-font-size);
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.btn-simple {
  font-family: inherit;
  background-color: transparent;
  border: none;
  padding: 1.2rem;
}

.btn-sm {
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  background-color: var(--primary);
  border: none;
  color: var(--primary-bg-color);
}

.btn a {
  color: var(--primary-bg-color);
  font-family: inherit;
  text-transform: none;
}
.btn-trans {
  background-color: transparent;
  font-family: inherit;
}
.b-border {
  border: 1px solid var(--primary-bg-color);
}
.b-none {
  border: none;
}

.btn-disabled {
  pointer-events: none;
}

/* ----------------------------- Btn---------------------- */

/*
ADMIN

*/
label {
  display: block;
  margin: 1.6rem auto;
}

label span {
  display: block;
  margin-bottom: 1rem;
  font-size: var(--default-font-size);
}

input,
textarea,
select {
  border: 1px solid #0000007d;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--primary);
  font-size: var(--default-font-size);
  padding: 7px;
  width: 100%;
  font-family: inherit;
}

input,
textarea,
select:focus {
  outline: none;
}

.nav-links {
  list-style: none;
}

.w-100 {
  width: 100%;
}
.w-80 {
  width: 80%;
}

.h-100 {
  height: 100%;
}

.mr-s {
  margin-right: 1rem;
}

.mr-m {
  margin-right: 4rem;
}
.container-sw {
  padding: 0px 6.4rem;
}

.w-30 {
  width: 30%;
}

/* -----UTILS----- */

.ptb-l {
  padding: 6.4rem 0;
}

.text-left {
  text-align: left;
}

.d-grid {
  display: grid;
}

.container-sw {
  padding: 0 6.4rem;
}

.container-xsw {
  padding: 0 8.6rem;
}

.text-center {
  text-align: center;
}
/*  ---------Margin UTILts------------ */

.mb-xs {
  margin-bottom: 0.6rem;
}

.mb-s {
  margin-bottom: 1.2rem;
}
.mb-m {
  margin-bottom: 2rem;
}
.mb-l {
  margin-bottom: 5.2rem;
}
.mtb-s {
  margin-bottom: 1rem;
}
.mtb-s {
  margin: var(--mtb-small);
}
.mtb-m {
  margin: var(--mtb-medium);
}

.mtb-l {
  margin: 6.4rem 0;
}

.mtb-xl {
  margin: 13.8rem 0;
}

/* -------------------------------------- */

.c-main {
  color: #ffc0cb;
}

.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.grid-4-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}

.grid-2-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-col {
  grid-template-columns: repeat(3, 1fr);
}
.grid-1-col {
  grid-template-columns: 1fr 1fr;
}
.gap-2 {
  gap: 2rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-4 {
  gap: 4rem !important;
}
.w-50 {
  width: 50%;
}
.m-auto {
  margin: auto;
}
.m-auto-lr {
  margin-left: auto;
  margin-right: auto;
}
.m-0 {
  margin: 0;
}
.w-1-icon {
  width: 1.5rem !important;
}
.w-icon {
  width: 1rem !important;
}
.w-2-icon {
  width: 2rem !important;
}
.w-3-icon {
  width: 3rem !important;
}

.w-4-icon {
  width: 4rem !important;
}

.d-hidden {
  display: none;
}
.search-close-btn {
  position: fixed;
  top: 5%;
  right: 2%;
}
.f-w-400 {
  font-weight: 400 !important;
}
/* -----UTILS----- */

hr {
  border: none;
  background-color: #00000017;
  height: 0.1rem;
}

.d-flex-a-center-j-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.d-flex-d-column-g {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.a-center {
  align-items: center;
}

.d-flex-j-center {
  display: flex;
  justify-content: center;
}
.d-inline-block {
  display: inline-block;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}

.j-space-between {
  justify-content: space-between;
}
li {
  list-style: none;
}
.w-10 {
  width: 10%;
}

.greater-than-sign {
  font-size: 2rem;
  opacity: 0.4;
}

.text-end {
  text-align: end;
}

.w-15 {
  width: 10%;
}

.lds-dual-ring {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 1.5rem;
  height: 1.5rem;

  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Table Common */
table {
  border: 1px solid rgb(0 0 0 / 6%);
  border-collapse: collapse;
  width: 100%;
}
.shopping-cart-table thead {
  background-color: var(--primary-bg-color);
}
th {
  padding: 1rem;
  font-weight: 400;
}
td {
  padding: 1rem;
  text-align: center;
}

/* -------------------star------- */
ul.react-star-rate.go4197845992.go4038925149.react-star-rate--ltr.go1912087031 {
  font-size: 2.4rem;
}

/* -----------------CSS-------------------TransitionBody */

/* ----------------ERROR-SUCCESS--------------- */
.message {
  position: relative;
  zoom: 1;
  width: auto;
  word-wrap: break-word;
  padding: 1rem 2rem 1rem 3.6rem;
  margin: 1.2rem 0;
}

.error-message {
  border-top: 3px solid #b81c23;
  background-color: #f7f6f7;
}

.success-message {
  border-top: 3px solid #0f5132;
  background-color: #d1e7dd;
  color: #0f5132;
}

.error-message::before {
  content: '!';
  color: #fff;
  display: inline-block;
  position: absolute;
  top: 1.2rem;
  left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #b81c23;
  font-size: 1.6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .error {
    color: red;
    background-color: pink;
    border: 1px solid red;
    border-radius: 4px;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.8rem;
  }
}
.error-text {
  color: red !important;
  margin: 0.4rem 0;
  font-size: var(--xsmall-font-size);
}
/* ----------------ERROR-SUCCESS--------------- */

.c-pointer {
  cursor: pointer !important;
}

.p-m-tb {
  padding: 0.6rem 1.4rem;
}

.p-s-tb {
  padding: 0.5rem 1rem;
}

.p-m {
  padding: 1.2rem;
}

.p-0 {
  padding: 0;
}

.discounted-price {
  background-color: #fff;
  padding: 0.4rem;
  border-radius: 7px;
  top: 1.5em;
  left: 1.5em;
  width: fit-content;
  border-radius: 20px;
  padding: 0.4em 0.8em;
  font-size: 0.87em;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.6);
}

.o-cover {
  object-fit: cover;
}
.op-top {
  object-position: top;
}

.img-container .loaded img,
.image-container .loaded img {
  opacity: 1 !important;
}

/* 1100px */
@media (max-width: 69em) {
  html {
    font-size: 55%;
  }
  .popular-tshirt-container,
  .shop-container .item-container,
  .men-container .item-container,
  .women-container .item-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .container-xsw {
    padding: 0 2.2rem;
  }

  .container-sw {
    padding: 0 2.2rem;
  }
  .img-container .t-shirt-img {
    object-position: top !important;
  }
  .other-images .img-container {
    max-height: 30rem;
  }
}

/* 900px */
@media (max-width: 56em) {
  html {
    font-size: 47%;
  }
  .container {
    padding: 0 1.6rem;
  }
  .container-sw {
    padding: 0 2.2rem;
  }

  .view-cart-container {
    width: 100%;
  }
  .cart-totals-details-container {
    grid-template-columns: 1fr;
  }
  .container-xsw {
    padding: 0 4.4rem;
  }

  .profile-order-sidebar .image-container {
    margin: 0;
  }
}

/* 600px */
@media (max-width: 37em) {
}

/* 400px */
@media (max-width: 25em) {
  html {
    font-size: 50% !important;
  }

  .container-sw {
    padding: 0;
  }

  .container-xsw {
    padding: 0 1.6rem;
  }

  .sk.image {
    height: 30rem;
  }

  .shop-container .item-container,
  .men-container .item-container,
  .women-container .item-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .shop-container .img-container {
    min-height: 30rem !important;
  }
  .login-section .form-container,
  select {
    width: auto;
  }
  .cart-totals-details-container,
  .checkout-container,
  .register-form-container,
  .profile-order-wrapper,
  .product-container {
    grid-template-columns: initial !important;
  }
  .register-form-container {
    width: 80%;
  }
}

.w-7 {
  width: 8rem;
}

.t-capitalize {
  text-transform: capitalize;
}

o.contain {
  object-fit: contain;
}
